<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="keywords" content="太美医疗">
<meta name="description" content="太美医疗工时系统">
<link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico" />
<!-- LIBRARY CSS-->
<link type="text/css" rel="stylesheet" href="../../assets/libs/bootstrap/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="../../assets/libs/bootstrap-datepicker/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="../../assets/libs/select2/css/select2.css">
<!-- Font CSS-->
<link type="text/css" rel="stylesheet" href="../../assets/font/font-awesome-4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../../assets/css/base.less"/>