<!-- 头部str -->
<header>
    <div class="header-top">
        <h1><img src="../../assets/images/logo.png" alt="logo" class="logo"></h1>
        <div class="userMessage">
            <ul>
                <li>欢迎：不拿徐</li>
                <li>当前研究中心：广州某研究中心</li>
                <li class="password"><a href="javascript:">修改密码</a></li>
                <li class="login-out"></li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="../projectList">项目列表</a></li>
            <li><a href="javascript:">计划审核</a></li>
            <li><a href="javascript:">工时填报</a></li>
            <li class="active"><a href="../timeAudit">工时审核</a></li>
            <li><a href="javascript:">工时统计</a></li>
            <li><a href="javascript:">基础配置</a></li>
        </ul>
    </nav>
</header>
<!-- 头部end -->