<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 620px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel3">审批情况</h4>
            </div>
            <div class="modal-body">
                <div class="approval-list">
                    <div class="approval-item">
                        <div class="title">
                            <span>历史审批<i class="time">()</i></span>
                            <hr />
                        </div>
                        <div class="approval-submit-info approval-info">
                            <ul>
                                <li>
                                    <span class="bt">提交者</span>
                                    <span class="submit-person approval-text">sf</span>
                                    <span class="bt">提交时间</span>
                                    <span class="submit-time approval-text">sf</span>
                                </li>
                                <li>
                                    <span class="bt">撤销者</span>
                                    <span class="repeal-person approval-text">sf</span>
                                    <span class="bt">撤销时间</span>
                                    <span class="repeal-time approval-text">sf</span>
                                </li>
                                <li>
                                    <span class="bt">审批状态</span>
                                    <span class="approval-status">撤销</span>
                                </li>
                            </ul>
                        </div>
                        <div class="approval-task-info approval-info" >
                            <ul>
                                <li>
                                    <span class="bt bt-w">任务日期</span>
                                    <span class="task-date approval-text">sf</span>
                                    <span class="bt bt-w">节点名称</span>
                                    <span class="node-name approval-text">sf</span>
                                </li>
                                <li>
                                    <span class="bt bt-w">审批者</span>
                                    <span class="approval-person approval-text">sf</span>
                                    <span class="bt bt-w">状态</span>
                                    <span class="status approval-text">sf</span>
                                </li>
                                <li>
                                    <span class="bt bt-w">处理日期</span>
                                    <span class="dispose-date approval-text">撤销</span>
                                    <span class="bt bt-w">审批结果</span>
                                    <span class="dispose-result approval-text">撤销</span>
                                </li>
                                <li>
                                    <span class="bt bt-w">建议及意见</span>
                                    <span class="suggest">撤销</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>