*{ margin:0; padding:0; }
html,body,form{ height:100%; width:100%; }
.content{ overflow-x:hidden; overflow-y:auto; }

.widthMode_0{  }
.widthMode_1{  }
.widthMode_2{  }
.widthMode_3{  }
.widthMode_4{  }
.widthMode_5{  }
.widthMode_6{  }
.widthMode_7{  }
.widthMode_8{  }
.heightMode_0{  }
.heightMode_1{  }
.heightMode_2{  }
.heightMode_3{  }