.hisVersion{
    margin-left: 10px;
    cursor: pointer;
    color:#ddd ;
}
.hisVersion.active{
    color: #00a2d9;
}
//下拉框层级占位
.holder{
    display: inline-block;
    width: 10px;
}

//审批情况弹框
.approval-list{
    color:#000;
    height: 700px;
    overflow-y: auto;
    .approval-item{
        margin-bottom: 5px;
        height: 30px;
        overflow: hidden;
        transition-delay: 0.3s;
        .title{
            position: relative;
            span{
                display:inline-block;
                background-color: #fff;
                padding-right: 10px;
            }
            hr{
                margin-top: -10px;
            }
            .flex{
                cursor:pointer;
                position: absolute;
                top:3px;
                right:0;
            }
        }
        .approval-info{
            margin-bottom: 5px;
            li{
                background-color: #F5F9FC;
                border-bottom: 1px solid #fff;
                span{
                    height:30px;
                    line-height:30px;
                    display: inline-block;
                    border-left: 1px solid #fff;
                }
                span.bt{
                    width: 110px;
                    padding-right: 10px;
                    text-align: right;
                    background-color: #97A5B2;
                }
                span.approval-text{
                    text-align: left;
                    width:160px;
                    padding-left: 10px;
                }
            }
        }
        .approval-submit-info{
            li{
                span.bt{
                    background-color: #97A5B2;
                }
            }
        }
        .approval-task-info{
            li{
                span.bt{
                    background-color: #E6EAED;
                }
            }
        }
    }
}
.editPlan{
    li {
        margin-bottom: 10px;
        span {
            width: 100px;
            color: #000;
            display: inline-block;
            text-align: right;
        }
        input {
            width: 300px;
            display: inline-block;
        }
    }
}
.ml10{
    margin-left: 10px;
    color: #002a80;
}
.divFlex{
    display: flex;
    margin-top: 20px;
    .flex1{
        flex:1;
    }
    .flex2{
        width: 80px;
    }
}