<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="import" href="base/_header_css.html?__inline">
    <link rel="stylesheet" href="../assets/css/pages/timeAuditDetail.less">
</head>
<body>
<link rel="import" href="base/header.html?__inline">
<!-- 工时审核详细str -->
<div class="container-fluid">
    <div class="contral">
        <div class="fl">
            <ul>
                <li>周期名称：<span>2017.1.2~2017.1.15</span></li>
                <li>总工时：<span>25</span></li>
                <li>提交人：<span>张乐</span></li>
                <li>提交时间：<span>2017.1.24</span></li>
                <li>提交逾期：<span>是</span></li>
            </ul>
        </div>
        <div class="fr">
            <button type="button" class="btn btn-info">审批情况</button>
            <button type="button" class="btn btn-info">提交</button>
            <button type="button" class="btn btn-info">编辑</button>
            <button type="button" class="btn btn-info">返回列表</button>
        </div>
    </div>

    <table id="table">

    </table>
</div>

<!-- 工时审核详细end -->
<link rel="import" href="base/_footer_js.html?__inline">
<script src="../assets/js/pages/timeAuditDetail.js"></script>
</body>
</html>