<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 330px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel7">处理结果--驳回</h4>
            </div>
            <div class="modal-body">
                <div class="reject-or-pass">
                    <ul>
                        <li>
                            <span class="bt">审核意见：</span>
                            <textarea class="form-control approval-opinion"></textarea>
                        </li>
                        <li>
                            <span class="bt">密码：</span>
                            <input type="password" class="form-control approval-password" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary approval-reject">通过</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>